@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Pagina Restrita";
}

<p>Voce nao tem permissao para acessar essa funcionalidade, <a asp-controller="Home" asp-action="Index"> click aqui para voltar para a Home.</a></p>
